<div class="dashboard-ecommerce dashboard-page-root">
    <div class="container-fluid dashboard-content ">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Customers</h2>
                    <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Customer list</h5>
                    <div class="card-body">
                        <div *ngIf="customers" class="table-responsive">
                            <div *ngIf="isLoadingSearchResult" class="table-filter-loader">
                                <span class="dashboard-spinner spinner-secondary spinner-xs"></span>
                            </div>
                            <table class="table table-striped table-bordered first" datatable [dtOptions]="dtOptions">
                                <thead>
                                <tr>
                                    <th>Picture</th>
                                    <th>Fullname</th>
                                    <th>Middlename</th>
                                    <th>Profession</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Marital Status</th>
                                    <th>Birth Date</th>
                                    <th>Age</th>
                                    <th>Father name</th>
                                    <th>Mother name</th>
                                    <th>Spouse name</th>
                                    <th>Religion</th>
                                    <th>Language</th>
                                    <th>Birth Country</th>
                                    <th>Current Nationality</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let customer of customers | paginate: { itemsPerPage: 10, currentPage: pagination?.currentPage, totalItems: pagination?.total }" style="cursor: pointer">
                                    <td><img class="visa-profil" [src]="customer.picture" [alt]="customer.fullName"></td>
                                    <td>{{ customer.fullName }}</td>
                                    <td>{{ utilsService.preventNull(customer.instance.middlename, 'N/A') }}</td>
                                    <td>{{ utilsService.preventNull(customer.instance.profession, 'N/A') }}</td>
                                    <td>{{ utilsService.preventNull(customer.instance.phone_number, 'N/A') }}</td>
                                    <td>{{ utilsService.preventNull(customer.instance.email, 'N/A') }}</td>
                                    <td>{{ utilsService.preventNull(customer.instance.gender, 'N/A') }}</td>
                                    <td>{{ utilsService.preventNull(customer.instance.marital_status, 'N/A') }}</td>
                                    <td>{{ utilsService.preventNull(customer.instance.birth_date, 'N/A') }}</td>
                                    <td>
                                        <div *ngIf="customer.hasAge && !customer.isOld" style="padding: 6px;" class="float-right bg-primary-light mt-1">
                                            <span class="text-primary">{{customer.age}}</span>
                                        </div>
                                        <div *ngIf="!customer.hasAge" style="padding: 6px;" class="float-right bg-primary-light mt-1">
                                            <span class="text-primary">N/A</span>
                                        </div>
                                        <span *ngIf="customer.hasAge && customer.isOld" >{{customer.age}}</span>
                                    </td>
                                    <td>{{ utilsService.preventNull(customer.instance.father_name, 'N/A') }}</td>
                                    <td>{{ utilsService.preventNull(customer.instance.mother_name, 'N/A') }}</td>
                                    <td>{{ utilsService.preventNull(customer.instance.husband_name, 'N/A') }}</td>
                                    <td>{{ utilsService.preventNull(customer.instance.religion, 'N/A') }}</td>
                                    <td>{{ utilsService.preventNull(customer.instance.language, 'N/A') }}</td>
                                    <td>{{ utilsService.preventNull(customer.instance.birth_country, 'N/A') }}</td>
                                    <td>{{ customer.nationality }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="updatePagination($event)"></pagination-controls>
                        </div>
                        <div *ngIf="!customers" class="table-loader"><span class="dashboard-spinner spinner-secondary spinner-xs"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
