<div class="dashboard-ecommerce dashboard-page-root">
    <div class="container-fluid dashboard-content ">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Visa</h2>
                    <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Visa list</h5>
                    <div class="card-body">
                        <div *ngIf="visas" class="table-responsive">
                            <div *ngIf="isLoadingSearchResult" class="table-filter-loader">
                                <span class="dashboard-spinner spinner-secondary spinner-xs"></span>
                            </div>
                            <table class="table table-striped table-bordered first" datatable [dtOptions]="dtOptions">
                                <thead>
                                <tr>
                                    <th>Resellers</th>
                                    <th>Client</th>
                                    <th>Nationality</th>
                                    <th>Age</th>
                                    <th>Visa Type</th>
                                    <th>Delivery Date</th>
                                    <th>Expiration Date</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let visa of visas | paginate: { itemsPerPage: 10, currentPage: pagination?.currentPage, totalItems: pagination?.total }" style="cursor: pointer">
                                    <td>{{ visa.visaRequest?.reseller?.fullName }}</td>
                                    <td>{{ visa.visaRequest?.fullname }}</td>
                                    <td>{{ visa.visaRequest?.nationality }}</td>
                                    <td>
                                        <div *ngIf="visa.visaRequest?.customerHasAge && !visa.visaRequest?.customerIsOld" style="padding: 6px;" class="float-right bg-primary-light mt-1">
                                            <span class="text-primary">{{visa.visaRequest?.customerAge}}</span>
                                        </div>
                                        <div *ngIf="!visa.visaRequest?.customerHasAge" style="padding: 6px;" class="float-right bg-primary-light mt-1">
                                            <span class="text-primary">N/A</span>
                                        </div>
                                        <span *ngIf="visa.visaRequest?.customerHasAge && visa.visaRequest?.customerIsOld" >{{visa.visaRequest?.customerAge}}</span>
                                    </td>
                                    <td>{{ visa.visaRequest?.visaTypeDuration }}</td>
                                    <td>{{ visa.deliveryDate }}</td>
                                    <td>{{ visa.expirationDate }}</td>
                                    <td>
                                        <span class="uk-label ml-2" [class.uk-label-warning]="!visa.isExpired()" [class.uk-label-danger]="visa.isExpired()"  >
                                          {{ visa.visaStatus }}
                                        </span>
                                    </td>
                                    <td><button (click)="showDetails(visa.detailUrl)" class="btn btn-primary btn-xs">View</button></td>
                                </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="updatePagination($event)"></pagination-controls>
                        </div>
                        <div *ngIf="!visas" class="table-loader"><span class="dashboard-spinner spinner-secondary spinner-xs"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
