
.uk-label {
  padding: 0.3em;
}
.pagination {
  .page-item.disabled {
    pointer-events: none;
  }
}

.table-responsive {
  position: relative;
  margin-top: .5em;
}

.card {

  &.with-link {
    transition: border-bottom-width, border-top-width, border-left-width, border-right-width;
    transition-duration: .2s;
    cursor: pointer;
  }

  &.on-hover:hover {
    border: 3px solid #5969ff !important;
  }

}