<div class="dashboard-influence">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h3 class="mb-2">Resellers</h3>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="breadcrumb-link">Company</a></li>
                                <li class="breadcrumb-item active" aria-current="page" *ngIf="reseller?.fullName">{{ reseller?.fullName }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card influencer-profile-data">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12">
                                <div class="text-center">
                                    <img src="assets/images/avatar-1.jpg" alt="User Avatar" class="rounded-circle user-avatar-xxl">
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-12">
                                <div class="user-avatar-info">
                                    <div class="m-b-20">
                                        <div class="user-avatar-name">
                                            <h2 class="mb-1">{{ reseller?.fullName }}</h2>
                                        </div>
                                    </div>
                                    <div class="user-avatar-address">
<!--                                        <p class="border-bottom pb-3">-->
<!--                                            <span class="d-xl-inline-block d-block mb-2"><i class="fa fa-map-marker-alt mr-2 text-primary "></i>4045 Denver AvenueLos Angeles, CA 90017</span>-->
<!--                                            <span class="mb-2 ml-xl-4 d-xl-inline-block d-block">Joined date: N/A </span>-->
<!--                                            <span class=" mb-2 d-xl-inline-block d-block ml-xl-4">Gender: Male</span>-->
<!--&lt;!&ndash;                                            <span class=" mb-2 d-xl-inline-block d-block ml-xl-4">N/A </span>&ndash;&gt;-->
<!--                                        </p>-->
                                        <div class="mt-3 border-top pt-4">
                                            <span>Company : <a class="badge badge-light mr-1">N/A</a> </span>
                                            <span>Code : <a class="badge badge-light mr-1">{{ reseller?.code }}</a> </span>
                                            <span>Email : <a class="badge badge-light">{{ reseller?.email }}</a> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block">
                            <h5 class="text-muted">Balance</h5>
                            <h2 class="mb-0">{{ reseller?.balance }}</h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-info-light mt-1">
                            <i class="fa fa-eye fa-fw fa-sm text-info"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end total views   -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- total followers   -->
            <!-- ============================================================== -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block">
                            <h5 class="text-muted">Visa requests</h5>
                            <h2 class="mb-0">{{ reseller?.requestCount }}</h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-primary-light mt-1">
                            <i class="fa fa-user fa-fw fa-sm text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end total followers   -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- partnerships   -->
            <!-- ============================================================== -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block">
                            <h5 class="text-muted">Customer</h5>
                            <h2 class="mb-0">{{ reseller?.customerCount }}</h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-secondary-light mt-1">
                            <i class="fa fa-handshake fa-fw fa-sm text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end partnerships   -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- total earned   -->
            <!-- ============================================================== -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block">
                            <h5 class="text-muted">Transactions</h5>
                            <h2 class="mb-0">{{ reseller?.transactionCount }}</h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-brand-light mt-1">
                            <i class="fa fa-money-bill-alt fa-fw fa-sm text-brand"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end total earned   -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <div class="row">
            <!-- ============================================================== -->
            <!-- campaign activities   -->
            <!-- ============================================================== -->
            <div class="col-lg-12">
                <div class="section-block">
                    <h3 class="section-title">Transactions</h3>
                </div>
                <div class="card">
                    <div class="campaign-table table-responsive" style="min-height: 100px; margin-top: 0">
                        <div *ngIf="isLoadingTransactions" class="table-filter-loader">
                            <span class="dashboard-spinner spinner-secondary spinner-xs"></span>
                        </div>
                        <table *ngIf="!isLoadingTransactions" class="table table-striped" datatable [dtOptions]="dtOptions">
                            <thead>
                            <tr class="border-0">
                                <th class="border-0">Type</th>
                                <th class="border-0">Amount</th>
                                <th class="border-0">Reason</th>
                                <th class="border-0">Date</th>
                                <th class="border-0">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: 10, currentPage: pagination?.currentPage, totalItems: pagination?.total }" data-toggle="modal" [attr.data-target]="transaction.isDepositTransaction ? '#depositDetail' : ''" (click)="showDetails(transaction)">
                                <td class="d-flex align-items-center ">
                                    <div *ngIf="transaction.isDepositTransaction" class="text-primary mt-1">
                                        Deposit
                                    </div>
                                    <div *ngIf="transaction.isWithdrawTransaction" class="text-success mt-1">
                                        Withdraw
                                    </div>
                                </td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.reason }}</td>
                                <td>{{ transaction.date }}</td>
                                <td>
                                     <span [class.uk-label-success]="transaction.isApproved" [class.uk-label-warning]="transaction.isPending" [class.uk-label-danger]="transaction.isCanceled" class="social-sales-count uk-label">
                                      {{ transaction.status }}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!isLoadingTransactions" (pageChange)="updatePagination($event)"></pagination-controls>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade transaction-modal" id="depositDetail" tabindex="-1" role="dialog"  aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" [class.default-loading-effect]="isLoading">
                            <div class="modal-body">
                                <div class="tab-regular">
                                    <ul class="nav nav-tabs nav-fill" id="myTab7" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab-justify" data-toggle="tab" href="#transaction-details" role="tab" aria-controls="home" aria-selected="true">Details</a>
                                        </li>
                                        <li (click)="loadDocuments()" class="nav-item">
                                            <a class="nav-link" id="profile-tab-justify"  data-toggle="tab" href="#transaction-doc" role="tab" aria-controls="profile" aria-selected="false">Document</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="transaction-details" role="tabpanel" aria-labelledby="home-tab-justify">
                                            <ul *ngIf="!isLoadingTransactionDetails" class="list-group list-group-flush">
                                                <li class="list-group-item social-sales-content">
                                                    <span class="social-sales-name">Type</span>
                                                    <span class="social-sales-count text-dark">{{ currentTransaction?.label }}</span>
                                                </li>
                                                <li class="list-group-item social-sales-content">
                                                    <span class="social-sales-name">Reason</span>
                                                    <span class="social-sales-count text-dark">{{ currentTransaction?.reason }}</span>
                                                </li>
                                                <li class="list-group-item social-sales-content">
                                                    <span class="social-sales-name">Date</span>
                                                    <span class="social-sales-count text-dark">{{ currentTransaction?.date }}</span>
                                                </li>
                                                <li class="list-group-item social-sales-content">
                                                    <span class="social-sales-name">Amount</span>
                                                    <span class="social-sales-count text-dark">{{ currentTransaction?.amount }}</span>
                                                </li>
                                            </ul>
                                            <div *ngIf="isLoadingTransactionDetails" class="table-loader"><span class="dashboard-spinner spinner-secondary spinner-xs"></span></div>
                                        </div>
                                        <div class="tab-pane fade" id="transaction-doc" role="tabpanel" aria-labelledby="profile-tab-justify">
                                            <div *ngIf="!isLoadingDocuments && documents.length > 0" class="row">
                                                <div *ngFor="let doc of documents" class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="card card-figure">
                                                        <figure class="figure">
                                                            <div class="figure-attachment">
                                                                <a [href]="doc.file" data-toggle="lightbox" data-gallery="profil-doc-gallery" >
                                                                    <img [src]="doc.file" alt="Card image cap" class="img-fluid">
                                                                </a>
                                                            </div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="!isLoadingDocuments && documents.length === 0" class="row">
                                                <div class="empty  pt-4 text-center flex-grow-1">
                                                    <div class="msg"><p><i class="fas fa-info-circle mr-2 "></i>This transaction have no document</p></div>
                                                </div>
                                                </div>
                                                    <div *ngIf="isLoadingDocuments" class="table-loader"><span class="dashboard-spinner spinner-secondary spinner-xs"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="modal-footer">
                                <button *ngIf="currentTransaction?.isPending && !isLoadingTransactionDetails" (click)="rejectTransaction(currentTransaction)" type="button" class="btn btn-danger text-uppercase">Reject</button>
                                <button *ngIf="currentTransaction?.isPending && !isLoadingTransactionDetails" (click)="approveTransaction(currentTransaction)" type="button" class="btn btn-primary text-uppercase">Approve</button>
                                <button type="button" class="btn btn-secondary text-uppercase" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	               