/* You can add global styles to this file, and also import other style files */
html, body, {
  height: 100%;
}

.input-group-prepend, .input-group-append {
  & i.input-group-text {
    display: flex;
  }
}

.dataTables_wrapper .dataTables_length {
  display: none;
}

.dashboard-page-root {
  background-color: #efeff6;
}

.table-filter-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000075;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

  .dashboard-spinner {
    border-top-color: white;
    border-left-color: white;
  }
}

.table-loader {
  text-align: center;
  margin-top: 2em;
}

.table-responsive {
  position: relative;
  margin-top: .5em;
}


.table-filter-search {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-wrap: wrap;

  span {
    display: flex;
    align-items: center;
  }

  input {
    display: inline-block;
    width: auto;
    margin-left: 1em;
    margin-right: .5em;
  }

  select {
    display: inline-block;
    width: auto;
    margin-left: .5em;
    min-width: 200px;
  }
}

.table-filter {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.pagination {
  .page-item.disabled {
    pointer-events: none;
  }
}

.modal {
  .dropdown-list.tagToBody {
    top: unset !important;
    left: unset !important;
  }
}

.table-filter-inputs {
  border: 1px solid #e6e6f2;
  margin: 2em 0;
  padding: 1em;

  &.table-filter-inputs-disabled {
    opacity: 0.7;
    cursor: progress;

    & > * {
      pointer-events: none;
    }
  }

}

.uk-label.uk-label-wrap {
  white-space: break-spaces !important;
}

.visa-profil {
  width: 50px;
  height: 50px;
}

pagination-controls {
  width: 100%;
  display: flex;
  justify-content: end;

  .ngx-pagination {

    li::before {
      display: none;
    }

    li.current {
      background: none;

      span {
        background-color: #5969ff;
        color: white;
      }
    }

    li.current, li.disabled {
      padding-left: 0;
      padding-right: 0;
    }

    li {
      a {
        padding-left: 0;
        padding-right: 0;

        &:hover {
          background-color: transparent;
        }
      }
    }

    span, li.pagination-next a, li.pagination-previous a {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: 0px;
      margin-right: 5px;
      color: #71748d;
      background-color: #fff;
      border: 1px solid #e6e6f2;
      border-radius: 3px;
      line-height: 1;

      &::after, &::before {
        display: none;
      }

      &:hover {
        background-color: #e6e6e6;
        text-decoration: none;
      }
    }

    li:first-child span {
      margin-left: 0;
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
    }

    li.disabled span {
      color: #6c757d;
      pointer-events: none;
      cursor: auto;
      background-color: #fff;
      border-color: #dee2e6;
    }

    a:hover {
      text-decoration: none;
    }

    li.pagination-next.disabled::after, li.pagination-previous.disabled::before {
      display: none;
    }
  }
}


.transaction-modal {

  .tab-content {
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
    padding: 1em !important;
  }

  .nav-fill .nav-item {
    flex: 0 1 0;
  }

  .tab-regular .nav.nav-tabs .nav-link {
    padding: .5em 1em;
    border: none;
    color: #3d3f5d;
    font-size: 1.2em;
    background-color: transparent;
  }

  .tab-regular .nav-tabs .nav-link.active {
    border-bottom: 1px solid #5969ff;
    color: #5969ff;
  }

  .modal-footer {
    border: none;
  }
}

.default-loading-effect {
  cursor: progress;
  opacity: .9;

  & > * {
    pointer-events: none;
  }
}

.uk-label-danger {
  background-color: #d81124 !important;
}

//Todo set this color #273d86 for sidebar bg